<%= render "user/navigation" %>

<% if flash[:popup] %>
<div id="popup-error-wrapper">
  <div id="popup-error">
    <%= "#{flash[:popup]}" %>
    <div id="sub-text"><%= "#{flash[:sub]}" %></div>
  </div>
</div>
<% end %>
<div id="popup-wrapper">
  <div id="popup"></div>
</div>

<div class="wrap-main">
  <section id="app">
    <a href="#app" id="backApp" class="page2 hide-page">Back to Application</a>
    <div class="row">

      <div class="title-wrap">
        <h1 class="section-head page1">You got this!</h1>
        <h1 class="section-head page2 hide-page">Create Account</h1>
        <div class="hline"></div>
      </div>

      <h4 id="required">* fields are required.</h4>

      <%= simple_form_for @application, :url => "/application", html: { id: "application-form"}, validate: true do |f| %>
      <div class="inner page1">
        <%= simple_fields_for :user do |ff| %>
        <%= ff.input :first_name, placeholder: "First Name *", required: true, input_html: { class: "half-width-input" }, :label_html => { :class => "no-label" }, validate: { presence: true } %>
        <%= ff.input :last_name, placeholder: "Last Name *", required: true, input_html: { class: "half-width-input" }, :label_html => { :class => "no-label" } %>
        <% end %>
      </div>

      <div class="add-margin-top page1">
        <%= f.input :gender, collection: ["Male", "Female", "Non-binary"], wrapper_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
      </div>

      <div class="add-margin-top page1" id="birthdate-wrap">
        <%= f.input :birth_day, collection: 1..31, wrapper_html: { class: "third-width-input" }, :label_html => { :class => "no-label" } %>
        <%= f.input :birth_month, collection: Date::MONTHNAMES[1..31], wrapper_html: { class: "third-width-input" }, :label_html => { :class => "no-label" } %>
        <%= f.input :birth_year, collection: (1..31).to_a.reverse, wrapper_html: { class: "third-width-input" }, :label_html => { :class => "no-label" } %>
      </div>

      <div class="add-margin-top page1">
        <%= f.input :race, collection: ["American Indian or Alaska Native", "Asian", "Black", "Hispanic/Latino", "Middle Eastern or North African", "Native Hawaiian or Pacific Islander", "White", "other"], input_html: { multiple: true }, wrapper_html: {
        class: "full-width-input" }, :label_html => { :class => "no-label" } %>
      </div>

      <div class="add-margin-top add-margin-bottom page1" id="enrollment-wrap">
        <label id="highschool">Which of the following best describes your current enrollment? *</label>
        <div id="radio-wrap">
          <%= f.collection_radio_buttons :education, [['highschool', 'High School'] ,['undergraduate', 'Undergraduate Student'],['graduate', 'Graduate Student']], :first, :last %>
        </div>
      </div>

      <div class="add-margin-bottom university-enrolled university page1">
        <%= render partial: "applications/partials/universities", :object => :application, locals: { type: "enrolled", :f => f  } %>
      </div>

      <div class="add-margin-bottom university-enrolled page1" id="other-university-wrap">
        <div class="check">
          <input type="checkbox" value="true" id="other_university_enrolled-confirm" name="application[other_universityEnrolledConfirm]"/>
          <label for="other_university_enrolled-confirm">
            <div id="other_university_enrolled-text">College/University not listed?</div>
          </label>
        </div>
      </div>

      <div class="add-margin-top other_university_enrolled page1" style="display:none;">
        <%= f.input :other_university, placeholder: "Other College/University", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
      </div>

      <div class="add-margin-bottom university-traveling university page1">
        <%= render partial: "applications/partials/universities", locals: { type: "traveling", :f => f } %>
      </div>

      <div class="add-margin-bottom university-traveling page1" id="other-university-wrap">
        <div class="check">
          <input type="checkbox" value="true" id="other-university-travel-confirm" name="other_universityTravelConfirm"/>
          <label for="other-university-travel-confirm">
            <div id="other-university-travel-text">traveling from outside of North America?</div>
          </label>
        </div>
      </div>

      <div class="inner add-margin-top split-select page1">
        <%= f.input :graduation_season, collection: ["Fall", "Winter", "Spring", "Summer"], label: false, class: "half-width-input" %>

        <select id="graduation_year" name="application[graduation_year]">
          <option></option>
          <%= options_for_select((2016..2025).to_a)%>
        </select>
      </div>

      <div class="university-enrolled add-margin-top page1">
        <%= render partial: "applications/partials/majors" %>
      </div>

      <div class="hackathons add-margin-top page1">
        <%= number_field_tag 'hackathons', (@application if @application), placeholder: "How many hackathons have you been to?", name: "application['hackathons']"%>
      </div>

      <div class="add-margin-top page1">
        <%= label_tag(:statement, "Why do you want to attend SpartaHack 2016?", class: 'no-label') %>
        <%= text_area_tag 'application_statement', "#{@application['statement'] if @application}", placeholder: 'Why do you want to attend SpartaHack 2016?', name: "application['statement']" %>
      </div>

      <div class="links page1">
        <div class="under-textarea has-icon">
          <%= image_tag "socialMedia/github.svg", alt: "Github Icon", :class => "icon" %>
          <%= f.input :github, placeholder: "GitHub handle?", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
        </div>

        <div class="add-margin-top has-icon">
          <%= image_tag "socialMedia/linkedin.svg", alt: "LinkedIn Icon", :class => "icon" %>
          <%= f.input :linkedin, placeholder: "LinkedIn handle?", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
        </div>

        <div class="add-margin-top has-icon">
          <%= image_tag "socialMedia/devpost.svg", alt: "devpost Icon", :class => "icon" %>
          <%= f.input :devpost, placeholder: "devpost handle?", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
        </div>

        <div class="add-margin-top has-icon">
          <%= image_tag "socialMedia/portfolio.svg", alt: "Personal Website Icon", :class => "icon" %>
          <%= f.input :website, placeholder: "Your personal website?", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
        </div>

        <div class="add-margin-top has-icon">
          <%= image_tag "socialMedia/coolsite.svg", alt: "Cool Link Icon", :class => "icon" %>
          <%= f.input :other_link, placeholder: "A cool link?", required: false, input_html: { class: "full-width-input" }, :label_html => { :class => "no-label" } %>
        </div>
      </div>

      <div class="add-margin-top page1" id="mlh-disclaimer">
        <p id="mlh-disclaimer-text">We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages
          about hackathons in line with the
          <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy.</a>
        </p>
      </div>

      <div class="add-margin-top page1" id="mlh-wrap">
        <div class="check check-mlh">
          <input type="checkbox" value="true" id="agree" name="mlh"/>
          <label for="agree">
            <div id="mlh-text">I agree to the
              <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a>,
              <a href="https://mlh.io/privacy" target="_blank">Privacy Policy</a>
              and
              <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">Contest Terms and Conditions</a>
              *</div>
          </label>
        </div>
      </div>

      <% if @application.blank? %>
      <div class="hvr-underline-from-center full page1">
        <input type="submit" value="NEXT: CREATE ACCOUNT" id="createAccount"/>
      </div>
      <% end %>

      <%= simple_fields_for :user do |ff| %>
      <div class="inner page2 hide-page">
        <%= ff.input :email, placeholder: "Email *", required: true, :label_html => { :class => "no-label" }, wrapper: false%>
      </div>

      <div class="add-margin-top inner page2 hide-page">
        <%= ff.input :password, placeholder: "Password *", required: true, :label_html => { :class => "no-label" }, wrapper: false%>
        <%= ff.input :password_confirmation, placeholder: "Repeat Password *", required: true, :label_html => { :class => "no-label" }, wrapper: false%>
      </div>

      <% if @application.blank? || @application['status'].blank? %>
      <div class="add-margin-top hvr-underline-from-center full page2 hide-page" id="save-app">
        <%= submit_tag("#{@application ? 'Update Application' : 'Submit Application'}", :id => "application") %>
      </div>
      <% end %>

      <% end %>

      <% end %>

    </div>

  </section>
</div>

<%= javascript_tag do %>
//validation for form submit

<% if @application %>
<% if @application['university'] %>
$("#university").val("<%= @application['university'].html_safe %>").trigger("change");
<% end %>
<% if @application['major'] %>
$("#major").val(<%= raw @application['major'].to_a.to_json %>).trigger("change");
<% end %>
<% if @application['birthday'] %>
$("#birthday").val("<%= @application['birthday'].html_safe %>").trigger("change");
<% end %>
<% if @application['birthmonth'] %>
$("#birthmonth").val("<%= @application['birthmonth'].html_safe %>").trigger("change");
<% end %>
<% if @application['birthyear'] %>
$("#birthyear").val("<%= @application['birthyear'].html_safe %>").trigger("change");
<% end %>
<% if @application['gradeLevel'] %>
$("#gradeLevel").val("<%= @application['gradeLevel'].html_safe %>").trigger("change");
<% end %>
<% if @application['gender'] %>
$("#gender").val("<%= @application['gender'].html_safe %>").trigger("change");
<% end %>
<% if @application['hackathons'] %>
$("#hackathons").val(<%= raw @application['hackathons'] %>).trigger("change");
<% end %>
<% if @application['universityStudent'] %>
document.getElementById("university-student").checked = true;
<% else %>
document.getElementById("highschool-student").checked = true;
<% end %>
<% if @application['other_universityConfirm'].to_bool == true %>
$('#other-university-confirm').prop('checked', true);
<% else %>
$('#other-university-confirm').prop('checked', false);
<% end %>
<% if @application['mlh'] %>
document.getElementById("agree").checked = true;
<% end %>
<% if @application['status'] %>
$("#save_app :input").attr("disabled", true);
<% end %>
<% end %>
<% end %>
