<%= render "admin/partials/navigation" %>

<div class="wrap-main">
  <section id="sponsorship">
    <div class="row">
      <div class="title-wrap">
        <h1 class="section-head">Edit Sponsor</h1>
        <div class="hline"></div>
      </div>

      <%= form_tag("#{ENV['API_SITE']}/sponsors", :method => :put, id: "create_sponsor", multipart: true) do %>
        <%= hidden_field_tag 'auth' , "Token token=\"#{ENV['API_AUTH_TOKEN']}\""  %>
        <%= hidden_field_tag 'user' , User.current_user.auth_token  %>
        <%= hidden_field_tag 'id' , @company["id"]  %>

        <div class="inner-wrap">
          <div id="inner-wrap">
            <div id="outer-wrap">
              <%= label_tag(:name, "Sponsor Name", class: 'no-label') %>
              <%= text_field_tag 'name', @company["name"] , placeholder: 'Company Name' %>

              <select id="level" name="level">
                <option disabled selected></option>
                <option value="partner">Partner</option>
                <option value="trainee">Trainee</option>
                <option value="warrior">Warrior</option>
                <option value="commander">Commander</option>
              </select>

              <%= label_tag(:url, "Website Url", class: 'no-label') %>
              <%= text_field_tag 'url', @company["url"] , placeholder: 'Website URL' %>
            </div>

            <div class="thumb-wrap">
              <div class="thumbnail">
                <%= image_tag @company["logo_svg_light"], alt: "Logo SVG Light", :class => "img_prev", :border => 0, :id => "logo_svg_light-prev" %>
                <div class="form-group-file">
                  <%= file_field_tag 'logo_svg_light', :onchange => 'readURL(this);' %>
                </div>
              </div>

              <div class="thumbnail">
                <%= image_tag @company["logo_png_light"], alt: "Logo PNG Light", :class => "img_prev", :id => "logo_png_light-prev" %>
                <div class="form-group-file">
                  <%= file_field_tag 'logo_png_light', :onchange => 'readURL(this);' %>
                </div>
              </div>

              <div class="thumbnail">
                <%= image_tag @company["logo_svg_dark"], alt: "Logo SVG Dark", :class => "img_prev", :id => "logo_svg_dark-prev" %>
                <div class="form-group-file">
                  <%= file_field_tag 'logo_svg_dark', :onchange => 'readURL(this);' %>
                </div>
              </div>

              <div class="thumbnail">
                <%= image_tag @company["logo_png_dark"], alt: "Logo PNG Dark", :class => "img_prev", :id => "logo_png_dark-prev" %>
                <div class="form-group-file">
                  <%= file_field_tag 'logo_png_dark', :onchange => 'readURL(this);' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column_wrap">
          <%= submit_tag "Update Sponsor", :id => "sponsorship_view_submit" %>
        <% end %>
          <%= form_tag("#{ENV['API_SITE']}/sponsors", :method => :delete, id: "delete_sponsor") do %>
            <%= hidden_field_tag 'auth' , "Token token=\"#{ENV['API_AUTH_TOKEN']}\""  %>
            <%= hidden_field_tag 'user' , User.current_user.auth_token  %>
            <%= hidden_field_tag 'id' , @company["id"]  %>
            <%= submit_tag "Delete Sponsor", :id => "sponsorship_view_delete" %>
          <% end %>
        </div>

    </div>
  </section>
</div>


<%= javascript_tag do %>
    var company = "<%= @company['level'] %>"
<% end %>
<%= javascript_include_tag "sponsorship" %>
