<!-- Border lines -->
<div class="top outer border"></div>
<div class="top inner border"></div>
<div class="top right inner corner"></div>
<div class="top right outer corner"></div>
<div class="right inner border"></div>
<div class="right outer border"></div>
<div class="right outer border lower"></div>
<div class="bottom inner border"></div>
<div class="bottom outer border"></div>
<div class="bottom left inner corner"></div>
<div class="bottom left outer corner"></div>
<div class="left inner border"></div>
<div class="left inner border"></div>
<div class="left outer border"></div>
<div class="left outer border lower"></div>

<!-- Logos -->
<div class="bottom left diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<div class="top right diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<div class="main logo">
  <%= image_tag "logo/logo.svg", alt: "SpartaHack Logo", :id => "logo-center", :class => "logo" %>
  <%= image_tag "logo/ring-inner.svg", alt: "SpartaHack Logo Inner Border", :id => "inner-ring", :class => "logo" %>
  <%= image_tag "logo/ring-outer.svg", alt: "SpartaHack Logo Outer Border", :id => "outer-ring", :class => "logo" %>
  <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="hanging-lines" class="logo" viewBox="0 0 532.32 568.77">
    <defs>
        <style>.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{fill:none;stroke-miterlimit:10;stroke-width:0.5px;}.cls-1{stroke:url(#linear-gradient);}.cls-2{stroke:url(#linear-gradient-2);}.cls-3{stroke:url(#linear-gradient-3);}.cls-4{stroke:url(#linear-gradient-4);}.cls-5{stroke:url(#linear-gradient-5);}</style>
        <linearGradient id="linear-gradient" x1="112.96" y1="217.82" x2="123.13" y2="82.24" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fae2a4"/>
            <stop offset="1" stop-color="#b58a2d"/>
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="356.23" y1="118.34" x2="364.53" y2="7.56" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-3" x1="272.94" y1="568.07" x2="282.22" y2="444.3" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-4" x1="197.51" y1="548.14" x2="219.93" y2="249.24" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-5" x1="272.33" y1="490.47" x2="302.7" y2="85.45" xlink:href="#linear-gradient"/>
    </defs>
    <title>Asset 3</title>
    <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
            <path class="cls-1" d="M97.22,80.34q12.17,137.82,26,138,10.25.12,21.41-75.33"/>
            <path class="cls-2" d="M263.45,0c3.17,50.22,37.9,105.37,85.76,116.31,44.64,10.21,86.17-8.82,112.4-47.55"/>
            <path class="cls-3" d="M101.66,457.44c53.51,85.77,149.5,127.32,233.72,105.22,79.74-20.93,118-90.81,125.38-104.87"/>
            <path class="cls-4" d="M.38,262.41C-4.8,445,142.78,565.19,254.88,548.66c96.78-14.27,190.6-133.88,178.5-283.37"/>
            <path class="cls-5" d="M71.38,68.16C3.59,284.54,129,471.05,255.54,488.66c98.57,13.71,220.79-71.8,276.55-213.25"/>
        </g>
    </g>
  </svg> -->
</div>
