<!-- Border lines -->
<div class="top outer border"></div>
<div class="top inner border"></div>
<div class="top right inner corner"></div>
<div class="top right outer corner"></div>
<div class="right inner border"></div>
<div class="right outer border"></div>
<div class="right outer border lower"></div>
<div class="bottom inner border"></div>
<div class="bottom outer border"></div>
<div class="bottom left inner corner"></div>
<div class="bottom left outer corner"></div>
<div class="left inner border"></div>
<div class="left inner border"></div>
<div class="left outer border"></div>
<div class="left outer border lower"></div>
<div id="page-corner">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 254.68 111.46">
    <defs>
        <style>.cls-1,.cls-2{fill:none;stroke-miterlimit:10;stroke-width:1px;}.cls-2{stroke:url(#New_Gradient_Swatch);}.cls-1{stroke:#f9e1a2;}</style>
        <linearGradient id="New_Gradient_Swatch" x1="243.24" y1="55.81" x2="0" y2="55.81" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#f9e1a2"/>
            <stop offset="1" stop-color="#b4882d"/>
        </linearGradient>
    </defs>
    <path class="cls-2" d="M243,.19c-6.35,52.58-41.73,95.59-87.56,107.63-59,15.51-134-23.41-155.19-88.4"/>
    <path class="cls-1" d="M38.49.19C49.44,10,89.33,43.27,150.24,45.53c53,2,91.13-20.72,104.3-26.42"/>
  </svg>
</div>


<!-- Logos -->
<div class="bottom left diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<div class="top right diamond logo">
  <%= image_tag("diamond.svg") %>
</div>
<div class="main logo">
  <%= image_tag "logo/logo.svg", alt: "SpartaHack Logo", :id => "logo-center", :class => "logo" %>
  <%= image_tag "logo/ring-inner.svg", alt: "SpartaHack Logo Inner Border", :id => "inner-ring", :class => "logo" %>
  <%= image_tag "logo/ring-outer.svg", alt: "SpartaHack Logo Outer Border", :id => "outer-ring", :class => "logo" %>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="hanging-lines" class="logo" viewBox="0 0 532.32 568.77">
    <defs>
        <style>
          #logo-top-left {stroke:url(#linear-gradient);}
          #logo-top-right {stroke:url(#linear-gradient-2);}
          #logo-bottom-left {stroke:url(#linear-gradient-3);}
          #logo-bottom-center {stroke:url(#linear-gradient-4);}
          #logo-top-center {stroke:url(#linear-gradient-5);}
        </style>
        <linearGradient id="linear-gradient" x1="112.96" y1="217.82" x2="123.13" y2="82.24" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fae2a4"/>
            <stop offset="1" stop-color="#b58a2d"/>
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="356.23" y1="118.34" x2="364.53" y2="7.56" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-3" x1="272.94" y1="568.07" x2="282.22" y2="444.3" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-4" x1="197.51" y1="548.14" x2="219.93" y2="249.24" xlink:href="#linear-gradient"/>
        <linearGradient id="linear-gradient-5" x1="272.33" y1="490.47" x2="302.7" y2="85.45" xlink:href="#linear-gradient"/>
    </defs>
      <path id="logo-top-left" d="M76.22,100.34q12.17,137.82,36,138,15.25.12,31.41-70.33"/>
      <path id="logo-top-right" d="M261.45,7c3.17,50.22,37.9,105.37,85.76,116.31,44.64,10.21,86.17-8.82,104.4-33.55"/>
      <path id="logo-bottom-left" d="M-9.78,277.41C-4.8,445,142.78,625.19,254.88,608.66c96.78-14.27,190.6-133.88,177.5-321.37"/>
      <path id="logo-bottom-center" d="M75.96,477.44c53.51,85.77,149.5,127.32,233.72,105.22,79.74-20.93,118-77.81,143.38-104.87"/>
      <path id="logo-top-center" d="M64.38,88.96C3.59,284.54,129,471.05,255.54,488.66c98.57,13.71,220.79-71.8,276.55-193.25"/>
  </svg>
</div>
