<section id="sponsors">
  <h2 class="section-head">
    Sponsor
  </h2>

  <p id="sponsor-description">
    Sponsors of SpartaHack have the unique ability to connect with 500 student
    developers in a long-term, project-based setting. This is an unparalleled
    opportunity to work with coveted potential hires, reinforce company
    branding in the tight-knit hacker community, and contribute to the
    innovation of tech education.
  </p>

  <section id="past-sponsors">
    <h2 id="title">2016 Sponsors</h2>

  <% if @sponsors[:commander].any? %>
    <div class="media-grid">
      <% @sponsors[:commander].each do |sponsor|  %>
        <div class="commander flex align-center center">
          <a href="<%= sponsor['url'] %>">
            <%= image_tag sponsor['logo_svg_light'], :alt => sponsor['name'], :class => "logo-sponsor" %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @sponsors[:warrior].any? %>
    <div class="media-grid">
      <% @sponsors[:warrior].each do |sponsor|  %>
        <div class="warrior flex align-center center">
          <a href="<%= sponsor['url'] %>">
            <%= image_tag sponsor['logo_svg_light'], :alt => sponsor['name'], :class => "logo-sponsor" %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @sponsors[:trainee].any? %>
    <div class="media-grid">
      <% @sponsors[:trainee].each do |sponsor|  %>
        <div class="trainee flex align-center center">
          <a href="<%= sponsor['url'] %>">
            <%= image_tag sponsor['logo_svg_light'], :alt => sponsor['name'], :class => "logo-sponsor" %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @sponsors[:partner].any? %>
    <div class="media-grid">
      <% @sponsors[:partner].each do |sponsor|  %>
        <div class="partner flex align-center center">
          <a href="<%= sponsor['url'] %>">
            <%= image_tag sponsor['logo_svg_light'], :alt => sponsor['name'], :class => "logo-sponsor" %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
  </section>

  <div id="interested">
    Interested in sponsoring for 2017? Email us at <a href="mailto:sponsor@spartahack.com">sponsor@spartahack.com</a>
  </div>

  <div id="sponsorship-info" class="flex space-around align-center">
    <div id="prospectus"><a href="https://drive.google.com/file/d/0B9rBNNlv0DLXNWR0c0hlaEFtSDA/view?usp=sharing" target="_blank">View our Prospectus</a></div>
    <div id="tiers"><a href="https://drive.google.com/open?id=0B9rBNNlv0DLXNHZJSzF0WTJsOUE" target="_blank">View our Tiers</a></div>
  </div>

  <div id="past-events">
    You can also view SpartaHack's past sites and sponsors at
    <br>
    <div id="past-events-links">
      <a href="http://15.spartahack.com" target="_blank">SpartaHack 15</a> and <a target="_blank" href="https://16.spartahack.com">SpartaHack 16</a>
    </div>
  </div>

</section>
