<div id="app-stats">
  <div class="column">
    <article>
      <div>
        <div class="title-wrap">
          <h1 class="section-head">Gender</h1>
          <div class="hline"></div>
        </div>
        <div class="horizontal-bar-graph" id="apps-gender-graph"></div>
        <table class="table" cellspacing="0" width="98%" role="grid">
          <thead>
            <tr>
              <th>Gender</th>
              <th>Count</th>
            </tr>
          </thead>

          <tbody>
            <% @genders.each do |gender, count| %>
              <tr>
                <td>
                  <%= gender %>
                </td>
                <td>
                  <%= count %> or
                  <%= number_to_percentage(100*(count.to_f / @applications.count ), precision: 1) %>
                </td>
              </tr>
              <% end %>
          </tbody>

        </table>
      </div>
    </article>

    <article>
      <div class="title-wrap">
        <h1 class="section-head">Age</h1>
        <div class="hline"></div>
      </div>
      <div id="apps-age-graph">
      </div>
      <div class="row">
        <table class="table" cellspacing="0" width="98%" role="grid">
          <thead>
            <tr>
              <th>Age</th>
              <th>Count</th>
            </tr>
          </thead>

          <tbody>
            <% @ages.each do |age, count| %>
            <tr>
              <td class="<%= age < 18 ? 'minorhighlight' : nil %>">
                <%= age.to_i %>
              </td>
              <td class="<%= age < 18 ? 'minorhighlight' : nil %>">
                <%= count %>
                or
                <%= number_to_percentage(100* count.to_f / @applications.count, precision: 1) %>
              </td>
            </tr>
            <% end %>
          </tbody>

        </table>
        <p class="">
          There are <strong><%= @minors %> minors</strong>, which make up <strong><%= number_to_percentage(100*@minors.to_f / @applications.count, precision: 1) %></strong> of applicants.
          <br>There are <strong><%= @adults %> adults</strong>, which make up <strong><%= number_to_percentage(100*@adults.to_f / @applications.count, precision: 1) %></strong> of applicants.
        </p>
      </div>
    </article>
  </div>

  <div class="column">
    <article>
      <div class="title-wrap">
        <h1 class="section-head">Universities</h1>
        <div class="hline"></div>
      </div>
      <div class="horizontal-bar-graph" id="apps-university-graph"></div>
      <table class="table" cellspacing="0" width="98%" role="grid">
        <thead>
          <tr>
            <th>University</th>
            <th>Count</th>
          </tr>
        </thead>

        <tbody>
          <% @universities.each_with_index do |(university, count), index| %>
          <tr>
            <td>
              <%= university %>
            </td>
            <td>
              <%= count %> or
              <%= number_to_percentage(100*(count.to_f / @universities.inject(0) { |sum, tuple| sum += tuple[1] }), precision: 1) %>
            </td>
          </tr>
          <% index == 19 ? break : nil %>
          <% end %>
        </tbody>
      </table>
      <div class="tablefooter">
        *top 20
      </div>
      <p>There are <strong><%= @international %> international students</strong>,
        which make up <strong>
      <%= number_to_percentage(100*(@international.to_f / @applications.count), precision: 1) %></strong> of applicants.</p>

    </article>

    <article>
      <div class="title-wrap">
        <h1 class="section-head">Majors</h1>
        <div class="hline"></div>
      </div>
      <div class="horizontal-bar-graph" id="apps-major-graph"></div>
      <div class="row">
        <table class="table" cellspacing="0" width="98%" role="grid">
          <thead>
            <tr>
              <th>Major</th>
              <th>Count</th>
            </tr>
          </thead>

          <tbody>
            <% @majors.each do |major, count| %>
              <tr>
                <td>
                  <%= major %>
                </td>
                <td>
                  <%= count %> or
                    <%= number_to_percentage(100*count.to_f / @majors.inject(0) { |sum, tuple| sum += tuple[1] }, precision: 1) %>
                </td>
              </tr>
              <% end %>
          </tbody>

        </table>
      </div>

    </article>
  </div>

  <div class="title-wrap">
    <h1 class="section-head">Graduation Year (University Students)</h1>
    <div class="hline"></div>
  </div>
  <div class="column">
    <article>
      <table class="table" cellspacing="0" width="98%" role="grid">
        <thead>
          <tr>
            <th>Graduation Year</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          <% @graduation_years.each do |year, count| %>
            <tr>
              <td>
                <%= year %>
              </td>
              <td>
                <%= count %> or
                  <%= number_to_percentage(100*count.to_f / @graduation_years.inject(0) { |sum, tuple| sum += tuple[1] }, precision: 1) %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </article>

    <article>
      <div class="horizontal-bar-graph" id="apps-grade-graph"></div>
    </article>
  </div>

  <br>

  <div class="title-wrap">
    <h1 class="section-head">Graduation Year (High School Students)</h1>
    <div class="hline"></div>
  </div>
  <div class="column">
    <article>
      <table class="table" cellspacing="0" width="98%" role="grid">
        <thead>
          <tr>
            <th>Graduation Year</th>
            <th>Percent</th>
          </tr>
        </thead>
        <tbody>
          <% @graduation_hs_years.each do |year, count| %>
            <tr>
              <td>
                <%= year %>
              </td>
              <td>
                <%= count %> or
                  <%= number_to_percentage(100*count.to_f / @graduation_hs_years.inject(0) { |sum, tuple| sum += tuple[1] }, precision: 1) %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </article>

    <article>
      <div class="horizontal-bar-graph" id="apps-hs-grade-graph"></div>
    </article>
  </div>

  <br>

  <div class="title-wrap">
    <h1 class="section-head">Number of Hackathons Attended</h1>
    <div class="hline"></div>
  </div>
  <div class="column">
    <article>
      <table class="table" cellspacing="0" width="98%" role="grid">
        <thead>
          <tr>
            <th>Number</th>
            <th>Frequency</th>
          </tr>
        </thead>

        <tbody>
          <% @hackathons.each do |number, count| %>
            <tr>
              <td>
                <%= number %>
              </td>
              <td>
                <%= count %> or
                  <%= number_to_percentage(100*count.to_f / @hackathons.inject(0) { |sum, tuple| sum += tuple[1] }, precision: 1) %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </article>

    <article>
      <div class="horizontal-bar-graph" id="apps-hackathon-graph"></div>
    </article>
  </div>

  <%- if User.current_user.present? and User.current_user.roles.include? 'director'%>
  <div class="row" id="random_statements">
    <br>
    <br>
    <br>
    <br>
    <div class="title-wrap">
      <h1 class="section-head">Random Reasons For Attending</h1>
      <div class="hline"></div>
    </div>
    <div class="column">
      <article>
        <p>
          <%= @random_statements[0] %>
        </p>
      </article>
      <article>
        <p>
          <%= @random_statements[1] %>
        </p>
      </article>
    </div>
    <div class="column">
      <article>
        <p>
          <%= @random_statements[2] %>
        </p>
      </article>
      <article>
        <p>
          <%= @random_statements[3] %>
        </p>
      </article>
    </div>
  </div>
  <% end %>

  <div class="row wordmap">
    <br>
    <br>
    <br>
    <br>
    <div class="flex center">
      <div id="apps-wordcloud" style="width: 100%; height: 600px;"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="row" id="hide-on-mobile">
    <div class="title-wrap">
      <h1 class="section-head">Daily Number of Applications</h1>
      <div class="hline"></div>
    </div>
    <div class="center" id="apps-submissions-graph">
    </div>
  </div>
</div>

<!-- Let's load ruby variables into js because we like to live dangerously -->
<%= content_tag :div, class: "applications_data_gender_count", data: {temp: @genders} do %>
<% end %>
<%= content_tag :div, class: "applications_data_age_count", data: {temp: @ages.to_a} do %>
<% end %>
<%= content_tag :div, class: "applications_data_grade_count", data: {temp: @graduation_years.to_a} do %>
<% end %>
<%= content_tag :div, class: "applications_data_hs_grade_count", data: {temp: @graduation_hs_years.to_a} do %>
<% end %>
<%= content_tag :div, class: "applications_data_hackathon_count", data: {temp: @hackathons.to_a} do %>
<% end %>
<%= content_tag :div, class: "applications_data_common_words", data: {temp: @common_words.to_a} do %>
<% end %>
<%= content_tag :div, class: "applications_data_submission_dates", data: {temp: @created_dates.to_a} do %>
<% end %>
