<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>SpartaHack 2017</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>


    <meta property="og:title" content="SpartaHack 2017"/>
    <meta property="og:image" content="<%= asset_path 'preview.png' %>"/>
    <meta property="og:description" content="SpartaHack 2017 is Michigan State University’s third annual student-run hackathon."/>
    <meta name="description" content="SpartaHack 2017 is Michigan State University’s third annual student-run hackathon."/>
    <meta name="theme-color" content="#ffffff">

    <%= favicon_link_tag "favicons/apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "180x180" %>
    <link rel="manifest" href="<%= asset_path 'favicons/manifest.json' %>">
    <link rel="mask-icon" href="<%= asset_path 'favicons/safari-pinned-tab.svg' %>">
    <% %w(16 32).each do |size| %>
      <%= favicon_link_tag "favicons/favicon-#{size}x#{size}.png", rel: 'icon', type: 'image/png', sizes: "#{size}x#{size}" %>
    <% end %>

    <!--  makes pages much more consistent across all browsers -->
    <%= stylesheet_link_tag    'cssreset', :media => "none", :onload =>"if(media!='all')media='all'" %>
    <noscript><%= stylesheet_link_tag    'cssreset' %></noscript>
    <%= stylesheet_link_tag "application", "#{params[:controller]}", media: 'all', 'data-turbolinks-track': 'reload'  %>
  </head>

  <body>

    <%= yield %>

    <%= render "home/footer" %>
    <script async="async">
      <% if cookies.signed[:theme] %>
        var darkTheme = <%= cookies.signed[:theme] == 'dark' ? true : false %>;
        var themeTrigger = true;
      <% else %>
        var darkTheme = false;
        var themeTrigger = false;
      <% end %>
    </script>
    <%= javascript_include_tag 'application', (params[:controller] == :application ? :applications : params[:controller]), 'data-turbolinks-track': 'reload' %>
  </body>
</html>
