<!DOCTYPE html>
<html>
  <head>
    <title>SpartaHack 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if current_user.present? %>
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <%- end %>
    <header class="main-header">
      <h4><a class="nav-element active" id="topNav" href="top">17</a></h4>
      <h4><a class="nav-element" id="aboutNav" href="event-description">about</a></h4>
      <h4><a class="nav-element" id="notifyNav" href="notify-email">notify</a></h4>
      <h4><a class="nav-element" id="faqNav" href="faq">faq</a></h4>
      <h4><a class="nav-element" id="sponsorNav" href="sponsors">sponsor</a></h4>
      <h4><a class="nav-element" id="contactNav" href="contact">contact</a></h4>
    </header>

    <%= yield %>

    <footer>
      <div id="social-media-icons">
        <a target="_blank" href="https://www.facebook.com/spartahackmsu">
          <%= image_tag 'SocialMedia/facebook.svg', class: "footer-social-icon" %>
        </a>
        <a target="_blank" href="https://twitter.com/SpartaHack">
          <%= image_tag 'SocialMedia/twitter.svg', class: "footer-social-icon" %>
        </a>
        <a target="_blank" href="https://www.instagram.com/spartahackmsu/">
          <%= image_tag 'SocialMedia/insta.svg', class: "footer-social-icon" %>
        </a>
        <a target="_blank" href="https://github.com/SpartaHack">
          <%= image_tag 'SocialMedia/github.svg', class: "footer-social-icon" %>
        </a>
      </div>
      <p id="love">
        < \> with 💛 by &copy;SpartaHack17, Spartan Hackers. <br><a id="contact" href="mailto:hello@spartahack.com">hello@spartahack.com</a>
      </p>

    </footer>
  </body>
</html>
